In [23]:
import pandas as pd
import pickle
nombre_archivo='P1_ejercicio2_modelo.sav'
modelo_produccion = pickle.load(open(nombre_archivo, 'rb'))

### Datos:

In [24]:
df=pd.read_csv('df_X_reales.csv')

In [25]:
df

           x1        x2        x3        x4
0    0.610848 -0.540147 -0.609123  0.076566
1   -0.439064  0.054173 -0.990305 -0.454106
2    0.887991  0.493949  0.484646  0.670971
3    0.760949  0.323469 -0.756437  0.321687
4    0.361203  1.083199 -0.739142  0.287214
..        ...       ...       ...       ...
195  0.086152 -0.466557 -0.232410 -0.011311
196 -1.413128 -0.213519 -0.861650  0.415804
197 -1.147237  1.520166 -0.586616  0.154290
198  0.470264 -1.111430  1.069919 -0.909327
199  1.094110 -0.166797  0.796668 -0.837083

[200 rows x 4 columns]

### Pronosticamos los valores de Y:

In [26]:
ypred=modelo_produccion.predict(df)

In [27]:
ypred

array([[ -45.3297495 ],
       [-104.77478466],
       [  87.81399422],
       [ -31.95061189],
       [ -26.51953007],
       [ -59.45750102],
       [ 145.0369138 ],
       [  59.48331947],
       [ 156.56476283],
       [-115.94400219],
       [ -82.46962393],
       [  35.42692219],
       [ 151.17995985],
       [ -60.0878623 ],
       [-181.90186104],
       [  48.6110533 ],
       [  12.0728985 ],
       [ -63.91780461],
       [  12.2365147 ],
       [-122.93760527],
       [ -16.55878758],
       [  68.04685302],
       [  17.33916915],
       [-179.08550874],
       [-162.02528886],
       [ -58.2502661 ],
       [  30.83617673],
       [  56.01952523],
       [  11.28876089],
       [ -40.43239654],
       [ -85.47783482],
       [ -10.01645371],
       [ -61.87149134],
       [ -76.43392421],
       [  48.19239496],
       [ -86.53359533],
       [  49.40149544],
       [  10.19431673],
       [ -47.04443373],
       [ 113.92001719],
       [ -72.98749905],
       [ 113.63208844],
       [ 116.78058028],
       [  15.04744824],
       [  76.28619728],
       [ -56.79384469],
       [   5.32322517],
       [  -3.15834169],
       [  80.07402184],
       [ 149.09560155],
       [  69.0366418 ],
       [ -22.71064547],
       [  73.34741787],
       [ -57.31947668],
       [  78.31218409],
       [-158.18782639],
       [ -53.53303222],
       [ -15.7130106 ],
       [  57.52733097],
       [ -40.78614149],
       [ 124.7033718 ],
       [ -68.1694309 ],
       [   5.20102001],
       [ -71.61705444],
       [  18.94375273],
       [  43.08470883],
       [   2.63714357],
       [-144.80552898],
       [ -39.42609647],
       [ 284.32876391],
       [  22.60876127],
       [-136.23232466],
       [ 107.85012151],
       [  97.93937865],
       [ -66.98969335],
       [  63.00014643],
       [ -31.75235673],
       [-116.12585015],
       [  -4.20867503],
       [ -41.69687781],
       [ 134.29756593],
       [-131.98871054],
       [ -70.88568469],
       [ -48.09941498],
       [  99.70325948],
       [  39.25532466],
       [ -37.15998864],
       [  55.61238639],
       [ -39.33895611],
       [ -57.06992898],
       [  92.78562527],
       [ -13.28732383],
       [-149.69857734],
       [  93.66843436],
       [ -55.58752304],
       [  74.81244166],
       [ 134.31452531],
       [ -29.71209933],
       [  67.37884211],
       [ -43.36434996],
       [ -77.99562962],
       [-120.48988137],
       [  17.24499541],
       [ -78.71552106],
       [ -27.30004596],
       [  -4.67776442],
       [  72.78404354],
       [ -47.60086485],
       [ -37.43608302],
       [  18.18833077],
       [-100.59016382],
       [  -2.98694419],
       [ -15.8617262 ],
       [   7.02555513],
       [  19.81848576],
       [  18.86899775],
       [  35.77725664],
       [ -48.84564116],
       [ -82.93705023],
       [ -30.76012831],
       [-208.46195187],
       [-180.84695703],
       [  70.02589175],
       [  17.80192121],
       [-114.48371156],
       [ -53.97064448],
       [   9.89553282],
       [ -67.17306136],
       [  75.14344025],
       [  97.49448735],
       [  46.7062317 ],
       [ -42.771865  ],
       [ 121.20056566],
       [  84.72410104],
       [ 172.69513711],
       [ 102.9201232 ],
       [ 165.54977499],
       [ -29.86397329],
       [ 153.29625749],
       [  23.11276885],
       [ -95.72395699],
       [ 150.80072818],
       [  72.764873  ],
       [-155.80491541],
       [ -41.12605035],
       [  84.16915565],
       [ -45.20493525],
       [ -53.54904722],
       [ -62.75385524],
       [-165.09029784],
       [  78.18626292],
       [  63.03713513],
       [ -71.98191174],
       [ -37.99122439],
       [  14.63732656],
       [ 118.18493032],
       [  78.71117898],
       [ -88.13242986],
       [  46.43523107],
       [ -47.25513823],
       [ -35.04841071],
       [   6.12472856],
       [ -50.85903772],
       [-113.58803524],
       [ -72.07533082],
       [  80.03301645],
       [  95.31928758],
       [-108.44601749],
       [ -46.26188065],
       [ -38.03696414],
       [  -8.71419927],
       [-113.78434546],
       [  35.08013688],
       [ 271.98858013],
       [  87.03501641],
       [  -5.20665075],
       [  28.0671647 ],
       [ 114.53504949],
       [  76.43108714],
       [  79.10248824],
       [ -27.52220808],
       [  54.51677484],
       [ -44.20732431],
       [-113.06103863],
       [  14.56616894],
       [ 137.7709398 ],
       [  53.97429552],
       [ -26.87928387],
       [-133.45374898],
       [  24.30009136],
       [  76.64281108],
       [ -55.47773513],
       [ 135.73998711],
       [ 114.94963464],
       [  12.17266851],
       [ -25.59301111],
       [ -84.56065119],
       [ -38.42432945],
       [  45.69882887],
       [  52.22391683]])

In [29]:
ypred= pd.DataFrame(ypred,columns=['ypred'])
ypred.to_csv('Morales_Lucas.csv',index=False)

In [31]:
ypred

          ypred
0    -45.329749
1   -104.774785
2     87.813994
3    -31.950612
4    -26.519530
..          ...
195  -25.593011
196  -84.560651
197  -38.424329
198   45.698829
199   52.223917

[200 rows x 1 columns]